<a href="https://colab.research.google.com/github/Duethyem02/CODIGO_Project/blob/main/CODIGO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 2


Conditional statement

In [ ]:
a=int(input())
if a!=0:
  if a%2==0:
    print("Even")
  else:
    print("Odd")
else:
  print("Zero")

4
Even

# Day 3


Iterators

In [ ]:
lis=["python","c","c++","java"]
iterr =iter(lis)
print(next(iterr))
print(next(iterr))
print(next(iterr))

python
c
c++

In [ ]:
lis="python"
iterr =iter(lis)
print(next(iterr))
print(next(iterr))
print(next(iterr))

p
y
t

**Loops**

2 types:
While lopp and
for loop

In [ ]:
#while loop
inter =0
while(inter < 3):
  print("Hello All")
  inter=inter+1

Hello All
Hello All
Hello All

In [ ]:
inter =0
while(inter < 3):
  print("Hello All")
  inter=inter+1
else:
  print("Nothing")

Hello All
Hello All
Hello All
Nothing

In [ ]:
inter =0
while(inter < 10):
  if inter %2 ==0:
   print(inter)
  else:
   print(inter)
  inter+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in ["python","c",'c++']:#[]-list,()-tuple
  print(i)
for i in "python":
  print(i)

python
c
c++
p
y
t
h
o
n

In [ ]:
lis=['python','c','c++','java']
for i in range(len(lis)):#len-length of list ,here it is 4 (0 to 3)
  print(i)
  print(lis[i])

0
python
1
c
2
c++
3
java

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

**String Operations**

In [ ]:
text ="i am AI"
#to upper case
print(text.upper())
#to lower case
print(text.lower())
#to title format
print(text.title())

I AM AI
i am ai
I Am Ai

In [ ]:
text="i am unknown and am known"
#give the number of strings
print(text.count("n")) 
print(text.count("am"))

6
2

In [ ]:
text="image.jpg"
#checking whether the string have the given value
result=text.endswith(".jpg")
print(result)

True

In [ ]:
text="i am unknown and am known"
result=text.find("unknown")
res=text.find("undo")
print(result)
print(res)

5
-1

In [ ]:
text="i am ai"
print(text.islower())
print(text.isupper())

True
False

In [ ]:
str1=['i','am','ai']
print("".join(str1))
print(" ".join(str1))
print("_".join(str1))

iamai
i am ai
i_am_ai

In [ ]:
str1="i am ai"
print(str1.replace("ai","unknown"))

i am unknown

# Day 4

**Functions**

In [ ]:
def add(a,b):
  c=a+b
  return c

In [ ]:
x=3
y=4
add(3,4)

7

**Recursion**

In [ ]:
def fib(n):
  if n<=1:
    return n
  else:
    return(fib(n-1)+fib(n-2))

limit=int(input("Enter a number:"))
if limit<=0:
  print("Enter a value greater than or equal to 1")
else:
  print("The series is as follows")
for vals in range(limit):
  print(fib(vals))

Enter a number:9
The series is as follows
0
1
1
2
3
5
8
13
21

# Day 5